<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FameLink | {{ title }}</title>
    <link rel="stylesheet" href="../static/styles/main.css">

</head>
<body>
    <div class="container">
    <h1>Create New Portfolio</h1>
    <form method="POST" action="{{ url_for('new_portfolio') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <section id="personal_info">
            <h2>Personal Information</h2>
            <div>{{ form.username.label }} {{ form.username(size=20) }}</div>
            <div>{{ form.bio.label }} {{ form.bio(rows=10, cols=50) }}</div>
            <div>{{ form.insta.label }} {{ form.insta }}</div>
            <div>{{ form.github.label }} {{ form.github }}</div>
            <div>{{ form.twitter.label }} {{ form.twitter }}</div>
            <div>{{ form.linkedin.label }} {{ form.linkedin }}</div>
        </section>

        <section id="services" id="services_section" class="section">
            <h2>Services</h2>
            <div>{{ service.service_title.label }} {{ service.service_title(size=20) }}</div>
            <div>{{ service.service_description.label }} {{ service.service_description(rows=10, cols=50) }}</div>
        </section>

        <section id="skills" class="section">
            <h2>Skills</h2>
            <div>{{ skills.skill_name.label }} {{ skills.skill_name(size=20) }}</div>
        </section>

        <section id="my_work" class="section">
            <h2>My Work</h2>
            <div>{{ mywork.work_title.label }} {{ mywork.work_title(size=20) }}</div>
            <div>{{ mywork.work_description.label }} {{ mywork.work_description(rows=10, cols=50) }}</div>
            <div>{{ mywork.work_link.label }} {{ mywork.work_link }}</div>
        </section>

        <section id="education" class="section">
            <h2>Education</h2>
            <div>{{ education.education_title.label }} {{ education.education_title(size=20) }}</div>
            <div>{{ education.education_details.label }} {{ education.education_details(rows=10, cols=50) }}</div>
        </section>

        <section id="contact" class="section">
            <h2>Contact</h2>
            <div>{{ contact.email.label }} {{ contact.email(size=20) }}</div>
        </section>

        <div>
            {{ form.submit() }}
        </div>
    </form>
    </div>
    <footer class="footercontainer">
        <div class="footer__columns">
            <div class="footer__copyrights">
                <p>&copy; 2024 FameLink. Enjoy.</p>
            </div>
        </div>
    </footer>
</body>
</html>