<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>FameLink | {{ title }}</title>

    </head>
<body>
    hello 
</body>

<footer class="footercontainer">
    <div class="footer__columns">
        <div class="footer__copyrights">
            <p>&copy; 2024 FameLink. Enjoy.</p>
        </div>
    </div>
</footer>
</html>