<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>FameLink | {{ title }}</title>

    </head>
    <body>
        <h1>Create New Portfolio</h1>
        <form method="POST" action="{{ url_for('new_portfolio') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }}
                {{ form.username(size=20) }}
            </div>
            <div>
                {{ form.bio.label }}
                {{ form.bio(rows=10, cols=50) }}
            </div>
            <div>
                {{ form.insta.label }}
                {{ form.insta }}
            </div>
            <div>
                {{ form.github.label }}
                {{ form.github }}
            </div>
            <div>
                {{ form.twitter.label }}
                {{ form.twitter }}
            </div>
            <div>
                {{ form.linkedin.label }}
                {{ form.linkedin }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </body>

<footer class="footercontainer">
    <div class="footer__columns">
        <div class="footer__copyrights">
            <p>&copy; 2024 FameLink. Enjoy.</p>
        </div>
    </div>
</footer>
</html>